---
layout: main
---
<article class="About me">
        <section>
            <h2 id="about">About me</h2>
            <p>{{site.about-author}}</p>
            <h2 id="news">News</h2>
			<p>
            <p><strong>October 2019: </strong> 
			I joined <a href='http://nightsky.physics.hku.hk'>the HKU Light Pollution ECF Team</a> as a Research Assistant at The University of Hong Kong. </p>
			<p><strong>July 2019: </strong>
			I started working at <a href='https://www.linkedin.com/company/onespacechina'>OneSpace Technology</a> in Chongqing as a Remote Sensing Engineer. </p>
			<p><strong>June 2019: </strong> 
			I received my bachelor's degree in Geographical Information Science from <a href='http://sysu.edu.cn/2012/en/index.htm'>Sun Yat-sen University</a> in Guangzhou.</p>
			<p><strong>March 2019: </strong>
			Our journal paper on <a href='https://doi.org/10.3390/rs11060690'>land use and land cover mapping by integrating object-based regularization and ConvNets using optical and PolSAR data</a> was available online.</p>
			<p><strong>February 2019: </strong> 
			We achieved top 2% (18/1329) in preliminary and top 3% (29/1329) in semifinal in the <a href='https://tianchi.aliyun.com/competition/entrance/231683/introduction'>Alibaba Cloud German AI Challenge 2018</a> for Remote Sensing Scene Classification of Local Climate Zones.</p>
			<p><strong>March 2018: </strong> 
			Our work about using <a href='https://doi.org/10.1109/IGARSS.2018.8517855'>active learning to reduce the need of labeled samples for remote sensing image classification</a> was accepted to IGARSS 2018.</p></p>
            <h1 id="articles">Posts</h1>
        </section>
</article>
{% for post in paginator.posts %}
<article class="post">
  {% if post.img %}
    <a class="post-thumbnail" style="background-image: url({{"/assets/img/" | prepend: site.baseurl | append : post.img}})" href="{{post.url | prepend: site.baseurl}}"></a>
  {% else %}
  {% endif %}
  <div class="post-content">
    <h2 class="post-title"><a href="{{post.url | prepend: site.baseurl}}">{{post.title}}</a></h2>
    <p>{{ post.content | strip_html | truncatewords: 15 }}</p>
    <span class="post-date">{{post.date | date: '%Y, %b %d'}}&nbsp;&nbsp;&nbsp;—&nbsp;</span>
    <span class="post-words">{% capture words %}{{ post.content | number_of_words }}{% endcapture %}{% unless words contains "-" %}{{ words | plus: 150 | divided_by: 150 | append: " minute read" }}{% endunless %}</span>
  </div>
</article>
{% endfor %}

{% include pagination.html %}