---
layout: main
---
<article class="About me">
    <h1>Shengjie Liu</h1>
        <section>
            <h2 id="about">About me</h2>
            <p>I am a computer vision, machine learning and remote sensing researcher. I hold a PhD in Computer Science prepared at <a href="http://www.onera.fr/en"><abbr title="Office national d'études et de recherche en aérospatial">ONERA</abbr></a> and <a href="http://www.irisa.fr/en"><abbr title="Institut de recherche en informatique et systèmes aléatoires">IRISA</abbr></a>, supervised by <a href="http://people.irisa.fr/Sebastien.Lefevre/">Sébastien Lefèvre</a> and <a href="http://www.onera.fr/en/staff/bertrand-le-saux">Bertrand Le Saux</a>. My thesis was about teaching computers how to look at airborne images to create beautiful maps. My research now focuses on deep neural networks (<em>deep learning</em>) for artificial perception, ranging from document image analysis to remote sensing and Earth Observation. Specifically, I am currently working on multimodal learning for image/text understanding in administrative documents.</p>
            <p>I am interested in machine learning, algorithms and Python.</p>
        </section>
</article>
{% for post in paginator.posts %}
<article class="post">
  {% if post.img %}
    <a class="post-thumbnail" style="background-image: url({{"/assets/img/" | prepend: site.baseurl | append : post.img}})" href="{{post.url | prepend: site.baseurl}}"></a>
  {% else %}
  {% endif %}
  <div class="post-content">
    <h2 class="post-title"><a href="{{post.url | prepend: site.baseurl}}">{{post.title}}</a></h2>
    <p>{{ post.content | strip_html | truncatewords: 15 }}</p>
    <span class="post-date">{{post.date | date: '%Y, %b %d'}}&nbsp;&nbsp;&nbsp;—&nbsp;</span>
    <span class="post-words">{% capture words %}{{ post.content | number_of_words }}{% endcapture %}{% unless words contains "-" %}{{ words | plus: 250 | divided_by: 250 | append: " minute read" }}{% endunless %}</span>
  </div>
</article>
{% endfor %}

{% include pagination.html %}